:root{
  --pad: 40px;           /* body padding */
  --sidebar-w: 220px;    /* sidebar width */
  --gap: 24px;           /* space between sidebar and main */
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #e5e5e5; /* light gray background */
  display: flex;       /* center horizontally */
  justify-content: center;
  padding: 40px;       /* space around page */
}

.mainBoard {
  background: white;
  border-radius: 12px;            /* rounded corners */
  box-shadow: 0 4px 12px rgba(0,0,0,0.5); /* soft shadow */
  max-width: 1100px;               /* limit width (like Word page) */
  width: 100%;                    /* shrink on small screens */
  padding: 40px;     
}

.profileSection {
  display: flex;           /* side-by-side layout */
  align-items: top;     /* vertical alignment */
  gap: 20px;
  background-color: aqua;
}

.profilePhoto{
  width: 300px;
  object-fit: cover;       /* crop nicely if not square */
  border-radius: 6px;
}

.profileName {  
  margin-top: 30;  
  font-size: 3em; /* 1cqi = 1% of .profile__info width */
  white-space: nowrap;                 /* single line */
  overflow: hidden;                    /* prevent spill */
  text-overflow: ellipsis;             /* … if still too long */
}

.profileDescription {
  margin: 0;
  color: #AAAAAA;
  font-size: 1.5em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Fixed sidebar pinned to the left */
.sidebarMain{
  position:fixed;
  left: var(--pad);
  top: var(--pad);
  width: var(--sidebar-w);
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  padding: 24px;
}

