.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  height: 80px;

  background: linear-gradient(135deg, #d3d3d3 0%, #9ca1a5 49%, #565656 100%);

  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-name {
  position: absolute;
  left: 25px;

  font-family: "Lucida Console", Monaco, monospace;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;

  color: white;

  text-shadow:
    0 0 5px black,
    0 0 10px white;

  white-space: nowrap;
}

.navbar-buttons-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.navButton {
  position: relative;
  border: none;
  height: 55px;
  width: 90px;
  background-color: #bbbbbb;
  padding: 0;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.15s;
  outline: 1px solid white;
}

.navButton-icon {
  width: auto;
  height: 90%;
  opacity: 0.65;
  transition: 0.15s;
}

.navButton-label {
  position: absolute;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 700;
  color: white;

  /* center over image */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* glow */
  text-shadow:
    0 0 5px black,
    0 0 10px white,
    0 0 15px white;

  pointer-events: none;
  z-index: 2;
}

.navButton:hover {
  background-color: lightgray;
}

.navButton:hover .navButton-icon {
  transform: scale(1.1);
  opacity: 1;
}

.navButton.active {
  background-color: white;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.8);
}

.navButton.active:hover {
  background-color: white;
}

/* Mobile */

@media (max-width: 1600px) {
  .navbar {
    flex-direction: column;
    padding: 0;
  }

  .navbar-name {
    position: static;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    margin: 0;
  }

  .navbar-buttons-wrapper {
    height: 55px;
    display: flex;
    align-items: center;
    gap: 10px;

    margin-bottom: 2px;
  }

  .navButton {
    height: 45px;
    width: 70px;
  }

  .navButton-label {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 700;
  }
}
