.projectCard {
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  border: 2px;
  border-color: grey;
  border-style: solid;
  background-color: #222222;
  transition: 0.2s;
}

.projectCard:hover {
  scale: 105%;
  opacity: 90%;
  border-color: white;
  transition: 0.2s;
}

.projectBanner {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.projectTitle {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;

  background-color: rgba(0, 0, 0, 0.5);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: large;
}
