.skills-catalog {
  column-count: 2;
  column-gap: 20px;
  padding: 60px;
  width: 80%;
}

.SkillsDiv {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .skills-catalog {
    column-count: 1;
    width: 95%;
    padding-left: 80px;
  }
}
